<ion-header>
  <ion-toolbar  color="secondary">
    <ion-title>{{props.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="task.name">{{task.name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Repeat?</ion-label>
      <ion-toggle [(ngModel)]="task.repeat"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="task.repeat">
      <ion-label>Repeat every...</ion-label>
      <ion-select [(ngModel)]="task.every"
      value="week" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="week">Week</ion-select-option>
        <ion-select-option value="twoWeeks">Two weeks</ion-select-option>
        <ion-select-option value="month">Month</ion-select-option>
        <ion-select-option value="quarter">Quarter</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="task.repeat">
      <ion-label>Start date</ion-label>
      <ion-datetime [(ngModel)]="task.due" display-format="DD MMM YYYY" 
      picker-format="DD MMMM YYYY"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-button
    expand="full" 
    (click)="closeModal(task)">Okay</ion-button>

</ion-content>
