<ion-header>
  <ion-toolbar  color="secondary">
    <ion-title>{{props.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-input #taskName type="text" placeholder="New task"></ion-input>
    <ion-button (click)="add(taskName.value); taskName.value=''">Add</ion-button>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>{{task.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="closeModal()">Okay</ion-button>
  
</ion-content>
