<ion-header>
  <ion-toolbar  color="secondary">
    <ion-title>{{props.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="task">
    <ion-item>
      <ion-label>{{task.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button 
    *ngIf="task; else addTaskButton" 
    expand="full" 
    (click)="closeModal()">Okay</ion-button>
  
  <ng-template #addTaskButton>
    <ion-item>
      <ion-input 
        #taskName 
        type="text" 
        placeholder="New task"
        (keyup.enter)="closeModal(taskName.value); taskName.value=''">
      </ion-input>
    </ion-item>
    <ion-button 
      (click)="closeModal(taskName.value); taskName.value=''"
      expand="full">Add</ion-button>
  </ng-template>

</ion-content>
