<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input #taskName type="text" placeholder="New task"></ion-input>
    <ion-button (click)="add(taskName.value); taskName.value=''">Add</ion-button>
  </ion-item>

  <ion-list *ngIf="tasks">
      <ion-item *ngFor="let task of tasks">
        <ion-label>{{task.name}}</ion-label>
        <ion-button class="delete" (click)="delete(task)">x</ion-button>
      </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<app-messages></app-messages>